<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Map page
    <small></small>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <!-- Main row -->
  <div class="row">
    <div class="col-lg-12">

      <!-- Map box -->
      <div class="box box-solid bg-light-blue-gradient">
        <div class="box-header">
          <!-- tools box -->
          <div class="pull-right box-tools">

            <button type="button" class="btn btn-primary btn-sm pull-right" data-widget="remove"><i
              class="fa fa-times"></i>
            </button>
            <button type="button" class="btn btn-primary btn-sm" data-widget="collapse"
                    data-toggle="tooltip" title="Collapse" style="margin-right: 5px;">
              <i class="fa fa-minus"></i></button>
          </div>
          <!-- /. tools -->

          <i class="fa fa-map-marker"></i>

          <h3 class="box-title">
            Maps
          </h3>
        </div>
        <div class="box-body">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">2D</a></li>
              <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">3D</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
                <div leaflet [leafletOptions]="options" (leafletMapReady)="onMapReady($event)" id="leaflet-map"
                     style="height: 300px; width: 100%;"></div>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2">
                Cesium Map goes here
              </div>
              <!-- /.tab-pane -->

            </div>
            <!-- /.tab-content -->
          </div>


        </div>
        <!--/.box-body-->
        <div class="box-footer no-border">
          <div class="row">
            <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
              <div id="sparkline-1"></div>
              <div class="knob-label">
                <img class="peak-marker-legend" src="assets/marker-icon-green.png" alt="">
                Not to be annotated
              </div>
            </div>
            <!-- ./col -->
            <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
              <div id="sparkline-2"></div>
              <div class="knob-label">
                <img class="peak-marker-legend" src="assets/marker-icon-yellow.png" alt="">
                To be annotated
              </div>
            </div>
            <!-- ./col -->
            <div class="col-xs-3 text-center" style="border-right: 1px solid #f4f4f4">
              <div id="sparkline-3"></div>
              <div class="knob-label">
                <img class="peak-marker-legend" src="assets/marker-icon-orange.png" alt="">
                Annotated
              </div>
            </div>

            <div class="col-xs-3 text-center">
              <div id="sparkline-4"></div>
              <div class="knob-label">
                <img class="peak-marker-legend" src="assets/marker-icon-red.png" alt="">
                Rejected
              </div>
            </div>

            <!-- ./col -->
          </div>
          <!-- /.row -->
        </div>
      </div>

      <!--Peak/ Annotation Box-->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="pull-left header"><i class="fa fa-map-marker"></i>Details</li>
          <li class="active"><a href="#tab_3" data-toggle="tab" aria-expanded="true">Peak</a></li>
          <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="false">Annotations</a></li>
        </ul>
        <div class="tab-content">
          <!--Peak Tab-->
          <div class="tab-pane active" id="tab_3">
            <p *ngIf="!selectedPeak">Select a peak in the map to view details</p>
            <table *ngIf="selectedPeak" class="table table-bordered">
              <tbody>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Elevation</th>
                <th>Localized Names</th>
              </tr>
              <tr>
                <td>{{selectedPeak.id}}</td>
                <td>{{selectedPeak.name}}</td>
                <td>{{selectedPeak.latitude}}</td>
                <td>{{selectedPeak.longitude}}</td>
                <td>{{selectedPeak.elevation}} m</td>
                <td>
                  <ul>
                    <li *ngFor="let localizedName of selectedPeak.localized_names">{{localizedName[1]}}
                      ({{localizedName[0]}})
                    </li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <!--Annotation Tab-->
          <div class="tab-pane" id="tab_4">
            <!--Message div-->
            <div class="row">
              <div class="col-md-4">

                <div *ngIf="message" [ngClass]="messageClass">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                  </button>
                  <h4><i class="icon fa fa-info"></i>Information:</h4>
                  {{message}}
                </div>

              </div>
            </div>

            <!-- Manager view -->
            <div *ngIf="isManager">
              <p *ngIf="!selectedPeak">Select a peak in the map to view its annotations</p>

              <div *ngIf="selectedPeak">
                <p *ngIf="selectedPeak.annotations?.length == 0">No Annotations available for the selected peak</p>
                <div *ngIf="selectedPeak.annotations?.length > 0">
                  <table datatable [dtOptions]="dtOptions" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>Annotation Id</th>
                      <th>Created date</th>
                      <th>Name</th>
                      <th>Elevation</th>
                      <th>Localized Names</th>
                      <th>Worker</th>
                      <th>Valid</th>
                      <th>Accepted</th>
                      <th>Accept</th>
                      <th>Reject</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let annotation of selectedPeak.annotations">
                      <td>{{annotation.id}}</td>
                      <td>{{annotation.creationDateTime | date: 'dd.MM.yyyy'}}</td>
                      <td>{{annotation.name}}</td>
                      <td>{{annotation.elevation}}</td>
                      <td>

                        <div *ngIf="annotation.localized_names?.length > 0">
                          <ul>
                            <div *ngFor="let localizedName of annotation.localized_names">
                            <li *ngIf="localizedName[0]?.length > 0">
                              {{localizedName[1]}} ({{localizedName[0]}})
                            </li>
                            </div>
                          </ul>
                        </div>

                      </td>
                      <td>{{annotation.worker.username}}</td>
                      <td>{{annotation.valid}}</td>
                      <td>{{annotation.acceptedByManager}}</td>
                      <td>
                        <button>Accept</button>
                      </td>
                      <td>
                        <button (click)="rejectAnnotation(selectedPeak.id, annotation.id)">Reject</button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Worker view -->
            <div *ngIf="!isManager">
              <p *ngIf="!selectedPeak">Select a peak in the map to annotate it</p>

              <form *ngIf="selectedPeak" [formGroup]="annotationForm">
                <div class="form-group">
                  <div class="radio">
                    <label>
                      <input formControlName="valid" type="radio" id="optionsRadios1"
                             value="true" [checked]="true">
                      Mark Peak as valid
                    </label>
                  </div>
                  <div class="radio">
                    <label>
                      <input formControlName="valid" type="radio" id="optionsRadios2"
                             value="false">
                      Mark Peak as invalid
                    </label>
                  </div>
                </div>

                <div *ngIf="annotationForm.controls.valid.value =='false'">

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <input formControlName="name" type="text" class="form-control" placeholder="Name">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <input formControlName="elevation" type="text" class="form-control" placeholder="Elevation">
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div formArrayName="localizedNames"
                         *ngFor="let localizedName of annotationForm.get('localizedNames').controls; let i = index;">
                      <div [formGroupName]="i">
                        <div class="col-md-3">
                          <div class="form-group">
                            <input class="form-control" formControlName="name" placeholder="Localized name">
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <input class="form-control" formControlName="language" placeholder="Language">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="annotationForm.controls.valid.value =='false'">
                  <button (click)="addLocalizedName()" type="button" class="btn btn-primary btn-sm"
                          style="margin-right: 5px; ">
                    <i class="fa fa-plus"></i>
                  </button>
                  <button (click)="removeLastLocalizedName()" type="button" class="btn btn-warning btn-sm"
                          style="margin-right: 5px;">
                    <i class="fa fa-minus"></i>
                  </button>
                  <span>Add/ Remove localized names</span>
                </div>

                <div class="row">
                  <div class="col-md-3">
                    <br>
                    <button (click)="createAnnotation()"
                            [disabled]="annotationForm.controls.valid.value =='false' && annotationForm.invalid"
                            class="btn btn-primary">Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
