<div class="col-md-4">
<form [formGroup]="editUserForm" (submit)="editUser()">
  <!--<div *ngIf="message" [ngClass]="messageClass">{{message}}</div>-->
  <div class="form-group has-feedback" [ngClass]="{'has-error': (editUserForm.controls.username.errors)
          && (editUserForm.controls.username.dirty)}">
    <input formControlName="username" type="text" class="form-control" placeholder="Username">
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
    <span *ngIf="editUserForm.controls.username.errors?.required && editUserForm.controls.username.dirty"
          class="help-block">This field is required.</span>
  </div>
  <div class="form-group has-feedback" [ngClass]="{'has-error': (editUserForm.controls.email.errors)
          && (editUserForm.controls.email.dirty)}">
    <input formControlName="email" type="email" class="form-control" placeholder="Email">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    <span *ngIf="editUserForm.controls.email.errors?.required && editUserForm.controls.email.dirty"
          class="help-block">This field is required.</span>
    <span *ngIf="editUserForm.controls.email.errors?.email && editUserForm.controls.email.dirty"
          class="help-block">Please provide a valid email address.</span>
  </div>
  <div class="form-group has-feedback" [ngClass]="{'has-error': (editUserForm.controls.password.errors)
          && (editUserForm.controls.password.dirty)}">
    <input formControlName="password" type="password" class="form-control" placeholder="Password">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    <span *ngIf="editUserForm.controls.password.errors?.required && editUserForm.controls.password.dirty"
          class="help-block">This field is required.</span>
  </div>
  <div class="form-group has-feedback" [ngClass]="{'has-error': (editUserForm.controls.confirmPassword.errors)
          && (editUserForm.controls.confirmPassword.dirty)}">
    <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirm password">
    <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
    <span *ngIf="editUserForm.controls.confirmPassword.errors?.required && editUserForm.controls.confirmPassword.dirty"
          class="help-block">This field is required.</span>
    <span *ngIf="editUserForm.controls.confirmPassword.errors?.MatchPassword && editUserForm.controls.confirmPassword.dirty"
          class="help-block">The passwords don't match.</span>
  </div>

  <div class="form-group has-feedback" [ngClass]="{'has-error': (editUserForm.controls.role.errors)
          && (editUserForm.controls.role.touched)}">
    <select formControlName="role" class="form-control" name="" id="">
      <option value="" disabled selected>Select Role</option>
      <option value="Worker">Worker</option>
      <option value="Manager">Manager</option>
    </select>
    <span *ngIf="editUserForm.controls.role.errors?.required && editUserForm.controls.role.touched"
          class="help-block">This field is required.</span>
  </div>

  <div class="form-group has-feedback">
    <div>Current Value of the form: </div>
    <div>{{editUserForm.getRawValue() | json}}</div>
  </div>
  <div class="row">
    <!-- /.col -->
    <div class="col-xs-12">
      <button [disabled]="editUserForm.invalid" type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
    </div>
    <!-- /.col -->
  </div>
</form>
</div>
